body {
    background-color: #f0f8ff; /* Light blue background */
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #007bff; /* Blue text */
}

button {
    font-size: 18px;
    padding: 15px;
}

#report-form, #login-form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#water-quality {
    width: 100%;
}
